[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[requires]
python_version = "3.8"

[packages]
psycopg2-binary = "*"
sqlalchemy = "*"
alembic = "*"

[packages.fastapi]
extras = [ "all",]

[packages.passlib]
extras = [ "bcrypt",]

[packages.python-jose]
extras = [ "cryptography",]
